# Wordpress env variables
# Should be same as MYSQL_USER
WORDPRESS_DB_USER=vvmc_wordpress
# Password should be same as MYSQL_PASSWORD
WORDPRESS_DB_PASSWORD=arewr3@@A!kjl#)

# MySQL env variables
MYSQL_ROOT_PASSWORD=adfuoijADGB24*&$)(
# Should be same as WORDPRESS_DB_USER
MYSQL_USER=vvmc_wordpress
# Should be same as WORDPRESS_DB_PASSWORD
MYSQL_PASSWORD=arewr3@@A!kjl#)
